/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// Docker scope
docker {
    enabled = true
    temp = 'auto'
    runOptions = '-v $(pwd):$(pwd) -w $(pwd)'
}

params {
  dir    = "$PWD/BDQP01/"
  args   = '--host http://localhost --timeout 30 --ports 8000-8099'
  outdir = 'results/'
  publish_dir_mode = 'copy'
}